$global-bg: teal
$global-font-color: teal
$global-link-color: #11b5b5
$global-link-hover: #86692d
$global-idle-bg: #18bdbd
$global-hover-bg: #14adad

$nav-bg: linear-gradient(0deg, rgba(255,255,255,0) 0%, #2b2414 100%)
$nav-bg-mobile: rgba(0, 0, 0, 1)
$nav-border: 0
$nav-shadow: 0
$nav-padding-small: 0 10px
$nav-padding-medium: 0 40px
$nav-padding-large: 0 120px
$nav-height-small: 50px
$nav-height-medium: 70px
$nav-link-color: #fff
$nav-link-hover: #ffad00
$nav-link-padding: 0 20px
$nav-link-width: 100px
$nav-link-size: 1.5rem

$dropdown-height: 50px
$dropdown-width: 150px
$dropdown-hover-color: $nav-link-hover
$dropdown-hover-bg: transparent
$dropdown-bg: rgba(0, 0, 0, 0.5)
$dropdown-shadow: #fff

$menu-button-bg: transparent
$menu-button-color: #fff
$menu-button-active: #ffad00

$menu-bg: #eee
$menu-link-color: #777
$menu-link-hover: #6c6c6c
$menu-link-hover-bg: #fff
$menu-link-hover-border: none
$menu-link-padding: 10px

$container-padding-small: 50px 0 0 0
$container-padding-medium: 0
