<section style="background:#3b3b3b;color:#fff">
  <div class="scroll-prevent" id="contact"></div>
  <div class="grid-container grid-x grid-padding-y small-up-1 medium-up-2">
    <h2 class="text-center" style="width:100%;padding-top:15px">ติดต่อเรา</h2>
    <div class="cell text-center" data-aos="fade-right">
      <h3>ช่องทางติดต่อ</h3>
      <h5>
        <i class="fas fa-phone"></i>
        โทรศัพท์
      </h5>
      <h5>
        <i class="fas fa-map-marker-alt"></i>
        ที่อยู่
      </h5>
      <h5>
        <i class="fab fa-line"></i>
        Line
      </h5>
      <h5>
        <i class="fab fa-facebook"></i>
        Facebook
      </h5>
      <h5>
        <i class="fab fa-instagram"></i>
        Instagram
      </h5>
    </div>
    <div class="cell text-center" data-aos="fade-left">
      <h3>แผนที่</h3>
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe width="100%" height="300px" id="gmap_canvas" src="https://maps.google.com/maps?q=bangkok&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
          <a href="https://www.crocothemes.net"></a>
        </div>
      </div>
    </div>
  </div>
</section>
