<footer>
  <div class="grid-container">
    <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3">
      <div class="align-self-middle cell text-center">
        <h3>LOGO</h3>
      </div>
      <div class="cell align-self-middle text-center">

      </div>
      <div class="cell align-self-middle text-center">
        <a href="#" class="fab fa-facebook"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-line"></a>
      </div>
    </div>
    <div class="text-center legal">
      <p>Copyright (c) 2018 Copyright Holder All Rights Reserved.</p>
    </div>
  </div>
</footer>
