<div class="grid-container full">

  <div class="fluid relative">
    <div class="grid-x align-center-middle fill-container transparent">
      <h1 class="">LOGO</h1>
    </div>
    <parallax :section-height="100">
      <img src="/img/background/bg-1.jpg" alt="very cool bg">
    </parallax>
  </div>
  <%- partial('_products') %>
  <%- partial('_about') %>
  <%- partial('_contact') %>
</div>
