<div class="grid-container full">

  <div class="fluid relative">
    <div class="grid-x align-center-middle fill-container transparent">
      <h1 class="">LOGO</h1>
    </div>
    <parallax :section-height="100">
      <img src="/img/background/bg-1.jpg" alt="very cool bg">
    </parallax>
  </div>
  <section style="background:#000;color:#fff">
    <div class="grid-container grid-x grid-padding-y small-up-1 medium-up-2">
      <div class="align-center-middle cell grid-x">
        <h3>รูปภาพ-ผลิตภัณฑ์-1</h3>
      </div>
      <div class="cell">
        <h3 class="text-center">ผลิตภัณฑ์ 1</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
          with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <div class="text-center">
          <a class="button primary hollow" href="#">Learn more</a>
        </div>
      </div>
    </div>
  </section>
  <section style="background:#fff;color:#777">
    <div class="grid-container grid-x grid-padding-y small-up-1 medium-up-2">
      <div class="cell small-order-2">
        <h3 class="text-center">ผลิตภัณฑ์ 2</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
          with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <div class="text-center">
          <a class="button secondary hollow" href="#">Learn more</a>
        </div>
      </div>
      <div class="align-center-middle cell grid-x medium-order-2">
        <h3>รูปภาพ-ผลิตภัณฑ์-2</h3>
      </div>
    </div>
  </section>
  <section style="background:#f2f1ef;color:#6c6c6c">
    <div class="grid-container grid-x grid-padding-y small-up-1 medium-up-2">
      <div class="align-center-middle cell grid-x">
        <h3>รูปภาพ-ผลิตภัณฑ์-3</h3>
      </div>
      <div class="cell">
        <h3 class="text-center">ผลิตภัณฑ์ 3</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
          book.
          It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
          with
          desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </p>
        <div class="text-center">
          <a class="button secondary hollow" href="#">Learn more</a>
        </div>
      </div>
    </div>
  </section>

</div>
